<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Sixtyfour&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Select a Page | Sabin</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/page-selection.css" />
    <link rel="stylesheet" href="styles/mobile.css" />
  </head>
  <body>
    <div class="pong-container">
      <div class="pong-ball"></div>
    </div>
    <main class="scaled-container">
      <div class="app-grid">
        <div class="app-wrapper">
          <a href="views/biography.html" class="app-icon">
            <img
            src="../graphics/BiographyIcon.png"              alt="Biography Icon"
              class="app-icon"
            />
          </a>
          <span class="icon-label">About Me</span>
        </div>

        <div class="app-wrapper">
          <a href="views/resume.html" class="app-icon">
            <img
              src="https://cdn.glitch.global/c404e7e0-5a28-4a5f-bc05-c17110073fbd/ResumeIcon.png?v=1749054525570"
              alt="Resume Icon"
              class="app-icon"
          /></a>
          <span class="icon-label">Resume</span>
        </div>

        <div class="app-wrapper">
          <a href="views/project-selection.html" class="app-icon">
            <img
              src="https://cdn.glitch.global/c404e7e0-5a28-4a5f-bc05-c17110073fbd/ProjectsIcon.png?v=1749054525280"
              alt="My Projects icon"
              class="resource-icon"
          /></a>
          <span class="icon-label">Projects</span>
        </div>

        <div class="app-wrapper">
          <a href="views/resources.html" class="app-icon">
            <img
              src="https://cdn.glitch.global/c404e7e0-5a28-4a5f-bc05-c17110073fbd/Resources%20icon.png?v=1749490029327"
              alt="Resource Page Icon"
              class="resource-icon"
          /></a>
          <span class="icon-label">Resources</span>
        </div>
        <div class="app-wrapper">
          <a href="mailto:masonsabin@gmail.com" class="app-icon">
            <img
              src="https://cdn.glitch.global/c404e7e0-5a28-4a5f-bc05-c17110073fbd/ContactMe.png?v=1749577959192"
              alt="Contact me icon"
              class="resource-icon"
            />
          </a>
          <span class="icon-label">Contact me</span>
        </div>
      </div>
      <a href="views/index.html" class="back-button">
        <img
          src="https://cdn.glitch.global/c404e7e0-5a28-4a5f-bc05-c17110073fbd/EyeSticker.PNG?v=1749055944931"
          alt="Back Button"
        /><span>go back</span>
      </a>
      <footer class="bio-footer">
        <p>©2025 Studio Sabin</p>
      </footer>
    </main>
  </body>
</html>
