body {
  font-family: 'SixtyFour', sans-serif;
  background-color: #282c34;
  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url("https://cdn.glitch.global/c404e7e0-5a28-4a5f-bc05-c17110073fbd/PortfolioBackgroundImageCopy.PNG?v=1748547738825")
    no-repeat center center;
  background-size: cover;
}

.scaled-container {
  border-radius: 8px;
  padding: 2vw;
  width: 38vw;
  height: 31vw;
  overflow-y: auto;
}

button {
  background-color: #E3B778; /* soft gold */
  color: #2e1c0e;
  border: none;
  padding: 10px 20px;
  margin: 6px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Courier New", monospace;
  font-size: clamp(1.2rem, 1vw, 1.25rem);
}

button:hover {
  background-color: #f5c97b;
}

#dice-area {
  font-size: 24px;
  padding: 10px;
  background-color: rgba(54, 43, 35, 0.85);
  border-radius: 6px;
  margin: 20px 0;
  display: inline-block;
  color: #fdf6e3;
}

#score-area {
  background-color: rgba(54, 43, 35, 0.85);
  padding: 20px;
  border-radius: 6px;
  margin-top: 20px;
  color: #fdf6e3;
  font-weight: bold;
  font-family: "Courier New", monospace;
  font-size: clamp(1.5rem, 1vw, 1.25rem);
}

